<a href="https://github.com/cameronlattz/allthenewsthatsfittoscrape" id="githubLink">GitHub</a>
<h1 class="font-effect-shadow-multiple">All the News That's Fit to Scrape</h1>
<button id="scrape">Scrape news</button>
<div id="container">
    <form>
        <img class="icon" src="#">
        <a class="link" href="#"></a>
        <div class="summary"></div>
        <ul class="comments"></ul>
        <textarea name="comment"></textarea>
        <input type="submit" value="Comment">
    </form>
</div>
<div id="loadingWrapper" class="hide">
    <div id="loading">
        <h1>Scraping...</h1>
        <img src="assets/images/loading.gif">
    </div>
</div>